In [1]:
# Import packages
import quandl
from itertools import product
import Model.exploration as exp
import Model.functions as fun
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

from Model.config import config
from Model.stock import Stock
from Model.codes import Codes
from Model.indicator import Indicator
from Model.strategy import Strategy
from Model.data import Data
from functools import partial

quandl.ApiConfig.api_key = config.API_KEY # mandatory to make api calls on quandl

In [6]:
stocks = list(exp.get_stocks().values()) # 258 stocks
stocks_dict = exp.get_stocks()

In [7]:
len(stocks)

258

In [5]:
def display_on_graphes(focus, x, y, figsize = (20,80)):
    fig, axis = plt.subplots(nrows = int(len(focus) / 4) + 1, ncols=4, sharex = False, sharey = False, figsize=figsize)
    j = 0
    for ax in axis.reshape(-1):
        if j < len(focus):
            stock = stocks_dict[focus[j]]
            ax.plot(stock.data[x], stock.data[y])
            ax.set_title(stock.name)
            ax.tick_params(axis='both', which='both', bottom=False, labelbottom=False, left=False, labelleft=True)
            j = j+1
    plt.show()

-----

Removing stocks with average volume < 100000

In [25]:
df = pd.DataFrame(columns = ['STOCK', 'DATE', 'VOLUME'])
for stock in stocks:
    to_append = stock.data[['DATE','VOLUME']].copy()
    to_append['STOCK'] = stock.name
    df = df.append(to_append)

In [113]:
volumes = pd.DataFrame(columns = ['STOCK', 'MEAN_VOLUME', 'MIN_VOLUME', 'MEDIAN_VOLUME'])
for stock in stocks:
    mean_volume = stock.data.VOLUME.mean()
    min_volume = stock.data.VOLUME.min()
    median_volume = stock.data.VOLUME.median()
    volumes = volumes.append({
        'STOCK': stock.name,
        'MEAN_VOLUME': mean_volume,
        'MIN_VOLUME': min_volume,
        'MEDIAN_VOLUME': median_volume}, ignore_index=True)

In [167]:
names_of_stocks_to_keep = list(volumes[volumes.MEAN_VOLUME > 100000].STOCK)

In [171]:
stocks_to_keep = []
for name in names_of_stocks_to_keep:
    stocks_to_keep.append(stocks_dict[name])

In [178]:
exp.save_stocks(stocks_to_keep, replace=True)

-----

Handling NaNs

In [279]:
stocks = list(exp.get_stocks().values())
stocks_dict = exp.get_stocks()

In [281]:
for stock in stocks:
    nan_indexes = list(stock.data[np.isnan(stock.data.CLOSE)].index)
    for index in nan_indexes:
        stock.data.loc[index, 'CLOSE'] = (stock.data.iloc[index - 1].CLOSE + stock.data.iloc[index + 1].CLOSE)/2

In [284]:
exp.save_stocks(stocks)

---

Handling anomalies

In [70]:
stocks = list(exp.get_stocks().values())
stocks_dict = exp.get_stocks()

In [71]:
df = pd.DataFrame(columns = ['DATE', 'STOCK', 'VOLUME', 'PERF'])
for stock in stocks:
    to_append = pd.DataFrame(columns = ['DATE', 'STOCK', 'VOLUME', 'PERF'])
    close_n = stock.data.CLOSE
    close_n_plus_1 = stock.data.CLOSE[1:].reset_index(drop = True)
    perf = ((close_n_plus_1 - close_n)*100/close_n)[:-1]
    to_append['DATE'] = stock.data.DATE[1:].reset_index(drop = True)
    to_append['VOLUME'] = stock.data.VOLUME[1:].reset_index(drop = True)
    to_append['STOCK'] = stock.name
    to_append['PERF'] = perf
    df = df.append(to_append, ignore_index=True)

In [74]:
df_to_update = df[df.PERF > 50]

In [61]:
"""codes = Codes()
stocks_to_update = []
for index, row in df_to_update.iterrows():
    stock_name = row.STOCK
    i = codes.data[codes.data.CODE == stock_name].index[0]
    codes.data.at[i, 'FIRST_DATE'] = row.DATE
    if not stocks_dict[stock_name] in stocks_to_update:
        stocks_to_update.append(stocks_dict[stock_name])"""

In [75]:
df_to_update

             DATE  STOCK       VOLUME        PERF
50767  2015-03-02  ALAGR    1989359.0   60.526316
52283  2017-01-11  ALALO    2394468.0  100.000000
54074  2016-09-15  ALBPS    1859178.0   83.950617
54624  2014-06-18  ALCLS    2912910.0   76.451613
55716  2017-02-01  ALCYB    2734867.0   72.839506
55933  2017-12-07  ALCYB    6185194.0   71.875000
56468  2014-07-14   ALDR     483421.0   66.666667
56537  2014-10-17   ALDR     649337.0   52.631579
56545  2014-11-12   ALDR    6582966.0   73.267327
56854  2016-02-17   ALDR    5660534.0   89.583333
57784  2014-02-24  ALEUP    7052777.0   55.405405
59163  2015-10-07  ALGAU    3097898.0   57.142857
59741  2018-01-11  ALGAU   35711075.0   56.017831
59769  2018-02-20  ALGAU  110386990.0   86.468647
61392  2016-02-19  ALINS    2358201.0   86.842105
61923  2018-03-20  ALINS   16304668.0   75.935288
68086  2017-05-18  ALVER    4338278.0   58.208955
68191  2014-03-20  ALVMG     552292.0   70.212766
68574  2015-10-26  ALVMG    3915474.0   83.268482
76453  2015-12-30    ATA   33058390.0   71.428571
97175  2017-05-30    CLA    8170685.0   54.545455
121982 2017-05-31    ESP    5871078.0   97.167756
125643 2015-12-16   FAGR    5759396.0   54.205196
130327 2016-03-07    FPN     700949.0   66.666667
130481 2016-11-23    FPN     577720.0   66.666667
133805 2018-02-20  GAUBT    2640042.0   51.851852
154339 2018-02-22    JXR    7249202.0   53.947368
154559 2018-02-22  JXRBS    3797652.0   90.476190
168389 2015-10-28   MKEA    2604036.0   58.898305
172374 2018-06-22   NANO    1652199.0   50.049751
173498 2017-11-27  NEVB2     935653.0  100.000000
173502 2017-12-01  NEVB2     142876.0  100.000000
173509 2017-12-12  NEVB2     138048.0  100.000000
173525 2018-01-08  NEVB2     617150.0   58.878505
173619 2018-05-24  NEVB2      10120.0   82.000000
173628 2018-06-06  NEVB2     796552.0   66.666667
180302 2017-01-12    OIM    1521220.0   66.666667
180305 2017-01-17    OIM    3205965.0  100.000000
192142 2015-02-09  POXEL    1419348.0   59.944367
204309 2017-03-27    RUI     103863.0   99.384006
204353 2017-05-31    RUI     110045.0   99.035215
205084 2015-12-21     RX    1691788.0   51.020408
220207 2018-01-05    TIG   50260025.0   73.292559
231454 2018-06-13  VMGBS     558032.0   52.307692

In [65]:
for stock in stocks_to_update:
    stock.reinit()

ALAUP successfully updated!
ALCYB successfully updated!
ALEMV successfully updated!
ALINS successfully updated!
ALNXT successfully updated!
ALVER successfully updated!
AVT successfully updated!
AXS successfully updated!
COX successfully updated!
DGM successfully updated!
DPT successfully updated!
EURBT successfully updated!
EURBU successfully updated!
FLO successfully updated!
FPN successfully updated!
GAUBT successfully updated!
GECBT successfully updated!
GECP successfully updated!
LOCAL successfully updated!
NSI successfully updated!
NYR successfully updated!

In [68]:
stocks_dict['ALEMV'].data

          DATE   OPEN   HIGH    LOW  CLOSE     VOLUME     TURNOVER
0   2017-05-15  0.330  0.690  0.330  0.690   764730.0   408836.890
1   2017-05-16  0.640  0.830  0.560  0.580  1588579.0  1092728.480
2   2017-05-17  0.610  0.810  0.510  0.660  2000762.0  1404019.820
3   2017-05-18  0.700  0.740  0.570  0.610   644408.0   410256.020
4   2017-05-19  0.600  0.600  0.520  0.540   529238.0   295459.340
5   2017-05-22  0.540  0.570  0.500  0.530   137590.0    73410.730
6   2017-05-23  0.510  0.530  0.460  0.500   283256.0   142347.140
7   2017-05-24  0.490  0.580  0.440  0.510   376456.0   189521.770
8   2017-05-25  0.510  0.580  0.480  0.550   362191.0   196763.660
9   2017-05-26  0.550  0.710  0.550  0.590  1518170.0   952981.000
10  2017-05-29  0.600  0.600  0.550  0.570   203670.0   117603.730
11  2017-05-30  0.570  0.570  0.520  0.540   323407.0   174448.970
12  2017-05-31  0.540  0.540  0.500  0.520   150486.0    77827.530
13  2017-06-01  0.510  0.570  0.500  0.530   456756.0   250874.550
14  2017-06-02  0.540  0.560  0.530  0.530    87454.0    47610.000
15  2017-06-05  0.530  0.540  0.510  0.530    57044.0    29870.440
16  2017-06-06  0.530  0.550  0.500  0.510   194891.0   100019.040
17  2017-06-07  0.500  0.550  0.500  0.520   156610.0    83048.210
18  2017-06-08  0.530  0.540  0.510  0.530    53731.0    28176.980
19  2017-06-09  0.520  0.530  0.510  0.530    41321.0    21458.690
20  2017-06-12  0.510  0.520  0.490  0.500    82793.0    41433.200
21  2017-06-13  0.510  0.510  0.480  0.490    75701.0    37437.310
22  2017-06-14  0.490  0.490  0.470  0.470    16735.0     7953.430
23  2017-06-15  0.470  0.480  0.450  0.470    94223.0    43572.250
24  2017-06-16  0.470  0.480  0.460  0.480    36391.0    17048.130
25  2017-06-19  0.480  0.490  0.460  0.480     5704.0     2680.940
26  2017-06-20  0.470  0.490  0.440  0.470   227818.0   106883.010
27  2017-06-21  0.470  0.470  0.440  0.450    58807.0    26515.720
28  2017-06-22  0.450  0.450  0.410  0.430    56003.0    23714.240
29  2017-06-23  0.430  0.450  0.420  0.440    83178.0    36030.030
..         ...    ...    ...    ...    ...        ...          ...
277 2018-06-18  0.334  0.337  0.329  0.330    48588.0    16039.504
278 2018-06-19  0.331  0.334  0.322  0.324   121081.0    39306.713
279 2018-06-20  0.323  0.329  0.322  0.326   156015.0    51010.534
280 2018-06-21  0.324  0.334  0.315  0.320   255773.0    82137.444
281 2018-06-22  0.320  0.320  0.306  0.311   227974.0    71126.924
282 2018-06-25  0.315  0.316  0.307  0.315   144292.0    44784.990
283 2018-06-26  0.316  0.316  0.307  0.307    18418.0     5745.621
284 2018-06-27  0.308  0.310  0.300  0.306   148259.0    45068.647
285 2018-06-28  0.305  0.305  0.297  0.300   114861.0    34321.075
286 2018-06-29  0.300  0.305  0.300  0.302    60063.0    18149.790
287 2018-07-02  0.303  0.303  0.295  0.298   188856.0    56097.606
288 2018-07-03  0.297  0.304  0.296  0.304    36119.0    10884.111
289 2018-07-04  0.300  0.304  0.300  0.304     5482.0     1650.989
290 2018-07-05  0.303  0.311  0.301  0.304   518182.0   158484.050
291 2018-07-06  0.310  0.310  0.297  0.300   250766.0    75750.186
292 2018-07-09  0.299  0.299  0.287  0.290    77236.0    22636.791
293 2018-07-10  0.292  0.292  0.273  0.277   155320.0    43578.549
294 2018-07-11  0.275  0.286  0.260  0.271   271258.0    73044.717
295 2018-07-12  0.274  0.275  0.269  0.274    90805.0    24711.640
296 2018-07-13  0.274  0.279  0.270  0.276    66821.0    18323.451
297 2018-07-16  0.268  0.281  0.265  0.265    91097.0    24972.619
298 2018-07-17  0.265  0.277  0.265  0.277    11501.0     3127.185
299 2018-07-18  0.275  0.275  0.266  0.274     7746.0     2090.105
300 2018-07-19  0.274  0.279  0.268  0.278   101223.0    27528.345
301 2018-07-20  0.277  0.280  0.271  0.280    18646.0     5119.016
302 2018-07-23  0.279  0.281  0.270  0.270    60899.0    16769.434
303 2018-07-24  0.269  0.271  0.262  0.265    94125.0    24979.707
304 2018-07-25  0.266  0.266  0.261  0.263    83268.0    21858.798
305 2018-07-26  0.270  0.270  0.257  0.265    21292.0     5541.870
306 2018-07-27  0.261  0.267  0.254  0.263   120699.0    31342.146

[307 rows x 7 columns]

In [8]:
focus = stocks_to_update[0]

In [69]:
exp.save_stocks(stocks_to_update)